<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SecondhandMpManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 登录&注册&激活 -->
  <servlet>
    <servlet-name>LoginRegisterServlet</servlet-name>
    <servlet-class>cn.DoO.Controller.Manager.LoginRegister.LoginRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRegisterServlet</servlet-name>
    <url-pattern>/manager/loginandregister.do</url-pattern>
  </servlet-mapping>
  
  <!-- 数据统计 -->
  <servlet>
    <servlet-name>ChartsServlet</servlet-name>
    <servlet-class>cn.DoO.Controller.Manager.Charts.ChartsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartsServlet</servlet-name>
    <url-pattern>/manager/charts.do</url-pattern>
  </servlet-mapping>
  
  <!-- 商品 -->
  <servlet>
    <servlet-name>MpinfoServlet</servlet-name>
    <servlet-class>cn.DoO.Controller.Manager.Mpinfo.MpinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MpinfoServlet</servlet-name>
    <url-pattern>/manager/mpinfo.do</url-pattern>
  </servlet-mapping>
  
  <!-- UTF-8过滤 -->
  <filter>
    <filter-name>characterEncoding</filter-name>
    <filter-class>cn.DoO.Filter.characterEncoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>characterEncoding</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  

</web-app>